.header {
  background-color: #FFF !important;
  color: #4D4C4F;
}

.button-gitter, .button-github {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.button-gitter {
  background-image: url(/images/icon-gitter.svg);
  width: 15px;

}

.button-github {
  background-image: url(/images/icon-github.svg);
  width: 25px;
}

.repo-download a .icon-github {
  margin-right: 5px;
}

.repo-download a {
  width: 100px;
  text-align: center;
}

.repo-download a[title~="Iris"]{
  background-color: #20B2C6;
}

/*** FLEXBOX ***/

.flex-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.flex-container > .column {
  flex: 1;
  padding: 0 30px;
}


@media only screen and (max-width:768px) {

  .flex-container {
    flex-direction: column;
  }

  .flex-container > .column {
    padding: 0;
  }

}

/*** CODE SNIPPET TOGGLES ***/

.tabs ul>li:before {
  display: none;
}


.tabs-thumb {
	display: inline-block;
	line-height: 3;
	position: relative;

	a {
		display: block;
		padding: 0 1.5rem;
		color: #9d9d9d;
		text-decoration: none;
		cursor: pointer;

		&:hover {
			color: #fe5b2d;
		}
	}
}

.tabs-panel {
	display: none;
}

/* Active */
.tabs-thumb.is-active a {
	color: #fe5b2d;

	&:hover {
		cursor: default;
		color: #fe5b2d;
	}

	&::after {
		content: '';
		position: absolute;
		bottom: -1px;
		left: 0;
		height: 2px;
		width: 100%;
		background: #fe5b2d;
	}
}

a[title="Platform Overview"] {
  font-weight: 600 !important;
}
