.header {
  background-color: #FFF !important;
  color: #4D4C4F;
}

.button.button-gitter {
  background-image: url("../images/icon-gitter.svg");
  width: 20px;
  background-repeat: no-repeat;
  background-position: 30%;
}

/*** FLEXBOX ***/

.flex-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.flex-container > .column {
  flex: 1;
  padding: 0 30px;
}


@media only screen and (max-width:768px) {

  .flex-container {
    flex-direction: column;
  }

  .flex-container > .column {
    padding: 0;
  }

}
